.col1{
    width: 25%;
}

.col2{
    width: 40%;
}

.col3{
    width: auto;
}

.table-col{
    display: inline-block;
}

@media screen and (max-width: 320px){
    .col1{
        display: none;
    }
    .col2, .col3{
        display: block;
        width: 100%;
    }
    .col2 p, .col3 p{
        text-align: center;
    }
    .col2__contact-menu{
        margin-left: 55px;
    }
}
