.header__search {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

@media (min-width: 670px) {
    .header__search {
        padding: 30px;
    }
}

@media (min-width: 950px) {
    .header__search {
        width: 50%;
        padding: 30px;
    }
}
