.header__content{
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    margin-top: 35px;
}

header{
    position: relative;
}
.col-menu-logo, .col-menu{
    display: inline-block;
}

@media screen and (min-width: 1200px){
    .col-menu-logo{
        width: 49%;
    }
    .header__content{
        margin-left: -585px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 720px){
    .col-menu-logo{
        width: 20%;
    }
    .header__content{
        margin-left: -345px;
    }
}

@media screen and (max-width: 720px) and (min-width: 320px){
    .col-menu-logo{
        width: 20%;
    }
    .header__content{
        margin-top: 12px;
        left: 0;
        right: 0;
        margin-left: 0px;
    }
}

@media (max-width: 320px){
    .col-menu-logo{
        width: 20%;
    }
    .header__content{
        left: 0;
        right: 0;
        margin-left: 0px;
        margin-top: 12px;
    }
    .header__menu{
        display: none;
    }
}