.header__background-image {
    position: relative;
    z-index: -1;
    top: 0;

    display: block;

    width: 100%;
}

@media screen and (min-width: 1200px) {
    .header__background-image {
        content: url(/images/sochi.png);
    }
}

@media screen and (max-width: 1200px) and (min-width: 350px) {
    .header__background-image {
        content: url(/images/sochi-md.png);
    }
}

@media screen and (max-width: 350px) {
    .header__background-image {
        content: url(/images/sochi-sm.png);
    }
}
