.menu__item {
    display: inline-block;

    margin-right: 30px;

    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.menu__user-icon::before {
    display: inline-block;

    width: 10px;
    height: 12px;
    margin-right: 9px;

    content: '';

    background: url(/images/user.png) no-repeat;
}

.menu__currency-icon::before {
    display: inline-block;

    width: 10px;
    height: 12px;
    margin-right: 9px;

    content: '';

    background: url(/images/Р.png) no-repeat;
}
