@import "src/scss/variables";

.footer__social-background {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background-color: $dark_blue;
    border-radius: 15px;
}
