.bestseller-label::after {
    position: absolute;
    top: -2px;
    right: 45px;

    width: 90px;
    height: 100px;

    content: '';

    background: url(/images/tag.png) no-repeat;
}

.bestseller-label {
    position: relative;
}

.bestseller-label::before {
    font-size: 18px;

    position: absolute;
    z-index: 3;
    top: 25px;
    right: 45px;

    width: 90px;

    content: "Хит продаж";
    text-align: center;

    color: white;
}
