.bestseller-label::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 45px;
    background: url(D:/Tasks/CoreTasks/Task5/images/tag.png) no-repeat;
    height: 100px;
    width: 90px;
}

.bestseller-label {
    position: relative;
}

.bestseller-label::before {
    content: "Хит продаж";
    position: absolute;
    font-size: 18px;
    color: white;
    width: 90px;
    top: 25px;
    right: 45px;
    text-align: center;
    z-index: 3;
}
