.simple-button {
    font-size: 14px;

    width: 200px;
    padding: 17px;

    color: white;
    background-color: #33c7fd;
}

.simple-button:hover {
    background-color: #13b0e9;
}

.simple-button:active {
    background-color: "#64d6ff";
}
