@mixin icon($icon_path) {
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 9px;
    background: url($icon_path) no-repeat;
    content: '';
}

.menu__item {
    display: inline-block;
    margin-right: 30px;
    list-style-type: none;
}

.header__inline-menu {
    margin-left: 0;
    padding-left: 0;
}

.menu__user-icon::before {
    @include icon("/src/images/user.png");
}

.menu__currency-icon::before {
    @include icon("/src/images/Р.png");
}
