@import "src/scss/common/mixin/index";

.menu__item {
    display: inline-block;
    margin-right: 30px;
    list-style-type: none;
}

.header__inline-menu {
    margin-left: 0;
    padding-left: 0;
}

.menu__user-icon {
    &::before {
        @include icon("/src/images/user.png");
    }

    &::after {
        @include selected-item();
    }
}

.menu__currency-icon {
    &::before {
        @include icon("/src/images/Р.png");
    }

    &::after {
        @include selected-item();
    }
}

.menu__language {
    &::after {
        @include selected-item();
    }
}
