header {
    width: 100%;
    background-size: cover;    
    background-image: url(/images/sochi-sm.png);
    height: 580px;
}

.header__menu-logo,
.header__inline-menu {
    display: inline-block;
}

.header__menu-logo {
    width: 20%;
}

.header__content {
    padding-top: 12px;
}

.header__menu {
    display: none;
}

@media screen and  (min-width: 320px) {
    .header__content {  
        padding-top: 12px;
    }

    header {
        background-image: url(/images/sochi-md.png);
        height: 600px;
    }
}

@media screen and (min-width: 720px) {
    .header__content {
        padding-top: 35px;
    }

    .header__menu {
        display: initial;
    }
}

@media screen and (min-width: 1200px) {
    .header__menu-logo {
        width: 49%;
    }

    .header__content {
        padding-top: 35px;
    }

    header {
        background-image: url(/images/sochi.png);
        height: 670px;
    }
}
