@import "src/scss/variables";
@import "src/scss/common/mixin/index";

.footer__layout {
    display: flex;
}

.footer__links {
    @include font();

    flex-basis: 25%;
}

.footer__social {
    @include font();

    flex-basis: 40%;
}

.footer__contacts {
    @include font();

    flex-basis: auto;
}

@media (max-width: $phone_size) {
    .footer__layout {
        display: block;
    }

    .footer__links {
        display: none;
    }

    .footer__social,
    .footer__contacts {
        display: block;
        width: 100%;

        p {
            text-align: center;
        }
    }

    .footer__social-menu {
        margin-left: 55px;
    }
}
