.template__simple-button  {
    font-size: 14px;

    width: 200px;
    padding: 17px;

    color: white;
    background-color: #33c7fd;
}

.template__simple-button :hover {
    background-color: #13b0e9;
}

.template__simple-button :active {
    background-color: "#64d6ff";
}
