.main__video-item{
    width: 300px;
    margin: 50px;
    background-color:#000e00;
    border-radius: 20px;
}

.main__video-image{
    border-radius: 20px 20px 0 0;
}

.main__video-info{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.main__video-title{
    color: #34b22b;
}

.main__video-desciption{
    color: #2b7026;
}