.footer__social-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
}

.footer__icon-vk {
    padding-top: 10px;
}

.footer__icon-insta {
    padding-top: 8px;
}
