.footer__layout {
    display: flex;
}

.layout__col1 {
    flex-basis: 25%;
}

.layout__col2 {
    flex-basis: 40%;
}

.layout__col3 {
    flex-basis: auto;
}

@media screen and (max-width: 320px) {
    .footer__layout {
        display: block;
    }

    .layout__col1 {
        display: none;
    }

    .layout__col2,
    .layout__col3 {
        display: block;
        width: 100%;
    }

    .layout__col2 p,
    .layout__col3 p {
        text-align: center;
    }

    .col2__contact-menu {
        margin-left: 55px;
    }
}
