.tour__old-priсe {
    visibility: hidden;
}

.sale-label .tour__old-priсe {
    font-size: 18px;

    visibility: unset;

    margin-left: 20px;

    text-decoration: line-through;

    color: gray;
}
