@import "src/scss/variables";
@import "src/scss/common/mixin/index";

.header__headline {
    text-align: center;
}

.line1 {
    @include font();

    font-size: 20px;
}

.line2 {
    @include font();

    font-size: 50px;
}

@media (min-width: $phone_size) {
    .line1 {
        font-size: 22px;
    }

    .line2 {
        font-size: 56px;
    }
}

@media (min-width: 900px) {
    .line1 {
        font-size: 26px;
    }

    .line2 {
        font-size: 72px;
    }
}

@media (min-width: $desctop_size) {
    .line1 {
        font-size: 36px;
    }

    .line2 {
        font-size: 100px;
    }
}
