@import "src/scss/variables";

.header__headline {
    text-align: center;
}

@media (max-width: $phone_size) {
    .header__label {
        & > .line1 {
            font-size: 20px;
        }

        & > .line2 {
            font-size: 50px;
        }
    }
}

@media (min-width: $phone_size) and (max-width: 900px) {
    .header__label {
        & > .line1 {
            font-size: 22px;
        }

        & > .line2 {
            font-size: 56px;
        }
    }
}

@media (min-width: 900px)  and (max-width: $desctop_size) {
    .header__label {
        & > .line1 {
            font-size: 26px;
        }

        & > .line2 {
            font-size: 72px;
        }
    }
}

@media (min-width: $desctop_size) {
    .header__label {
        & > .line1 {
            font-size: 36px;
        }

        & > .line2 {
            font-size: 100px;
        }
    }
}
