@media screen and (min-width: 1200px){
    .content{
    box-sizing: border-box;
    width: 1170px;
    margin: auto;
    padding: 15px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 320px){
    .content{
    box-sizing: border-box;
    width: 720px;
    margin: auto;
    padding: 15px;
    }
}
@media screen and (max-width: 320px){
    .content{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 5px;
    }
}

/*.content{
    box-sizing: border-box;
    width: 1170px;
    margin: auto;
    padding: 15px;
    }*/