@import "src/scss/variables";

.main__catalog-text {
    padding-top: 60px;
    font-size: 26px;
    text-align: center;
}

@media screen and (min-width: $desctop_size) {
    .main__catalog-text {
        font-size: 36px;
    }
}
