@import "scss/variables";

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'tour1'
        'tour2'
        'tour3'
        'tour4'
        'tour5';
}

.tour5 {
    display: none;

    grid-area: tour5;
}

@media screen and (min-width: $phone_size) {
    .grid {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'tour1 tour2'
            'tour3 tour4';
    }

    .tour5 {
        display: none;
    }
}

@media screen and (min-width: $desctop_size) {
    .grid {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'tour1 tour2'
            'tour1 tour3'
            'tour4 tour5';
    }

    .tour5 {
        display: initial;
    }
}

.main__tour {
    margin: 8px;
    background-color: $white;
}

.tour1 {
    grid-area: tour1;
}

.tour2 {
    grid-area: tour2;
}

.tour3 {
    grid-area: tour3;
}

.tour4 {
    grid-area: tour4;
}
