{
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "airbnb/hooks" 
    ],
    "rules": {
        "no-set-state": "off",
        "react/destructuring-assignment": 1,
        "react/prop-types": 1,
        "prefer-promise-reject-errors" : 1,
        "no-undef" : 1,
    }
}